@import '../main.scss';

.header{
    // padding: 20px 0px;
    height: 100%;
    display: flex; align-items: center; justify-content: space-between;
    // background-color: var(--el-color-primary-light-7);
    &__back{
        display: flex;
        padding: 10px;
    }
}